name: Publicar Wiki
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Instalar Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Instalar MkDocs Material
        run: pip install mkdocs-material
      - name: Publicar Wiki
        run: mkdocs gh-deploy --force
